.graph {
  display: flex;
  flex-direction: column;
  align-items: center; /* Pour centrer horizontalement le contenu */
  justify-content: center; /* Pour centrer verticalement le contenu */
  height: 100vh;
}
.graph_title {
  text-align: center;
  background-color: #04838f;
  width: fit-content;
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-size: 44px;
}
.graph_textcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.graph_textcontainer p {
  font-weight: bold;
}
.graph_textcontainer--label {
  text-align: center;
  border: 5px outset #04838f;
  border-radius: 10px;
  margin: 10px;
  width: fit-content;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
#piechart {
  width: 645px !important;
  height: 645px !important;
}
